# Data and Documents
Percakapan 1.pdf
Percakapan 1.md
Percakapan 2.md
Sistem-Rekomendasi-QCQA-Industri (1).md
Mining.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env

# Jupyter Notebook
.ipynb_checkpoints

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.temp_hextaui/